html, body{
  width: 400px !important;
  height: 400px !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app{
  width: 100%;
  height: 100%;
}

.w100{
  width: 100%;
}
.h100{
  height:100%;
}